<?xml version="1.0" encoding="UTF-8"?>

   <!--
//
// ===================================================
// FlashQ by Christian Hackert and Gernot Braehler
// ===================================================
// Configuration file.
// @author		Christian Hackert <www.hackert.biz/flashq>
// @version		FlashQ version 1.0
// ===================================================
//
-->

   <config version="1.0" htmlParse="false">

      <!-- title of the study -->
      <item id="studyTitle">Name of your study: Academics perspectives</item>

      <!-- text-align property(left|right) -->
      <item id="textAlign">left</item>

      <!-- shuffle cards (true|false)  -->
      <item id="shuffleCards">true</item>

      <!-- login required (true|false) -->
      <item id="loginrequired">false</item>
      <!-- login with common password (leave blank if not required) -->
      <item id="loginPassword"></item>
      <!-- URL to individual login script(leave blank if not required) -->
      <item id="loginUrl"></item>
      <!-- request mode (post|get) -->
      <item id="loginUrlMethod"></item>

      <!-- activate/deactivate optional steps (true|false) -->
      <item id="showStep3">true</item>
      <item id="showStep4">true</item>
      <item id="showStep5">true</item>

      <!-- HtmlQ only: disable the in-window back button -->
      <item id="disableBackButton">true</item>

      <!-- define form elements for step5; only displayed if showStep5 is true (delete tags if not required) -->
      <!-- add label: <label>[STRING]</label> -->
      <!-- add note: <note>[STRING]</note> -->
      <!-- add input-field: <input type="[text|textarea|radio|select|checkbox|rating2|rating5|rating10]">[VALUE]</input> -->
      <!-- optional attributes: bg, id, maxlength, restricted, required, scale  -->
      <item id="form">

          <label>Name</label>
         <note>Please enter your Name(optional).</note>
         <input type="text" required="false"></input>

         <label>Age*</label>
         <note>Please enter your year of birth (YYYY, eg. 1980).</note>
         <input type="text" required="true" maxlength="4" restricted="0-9"></input>

         <label>Gender*</label>
         <note>Please select your gender.</note>
         <input type="radio" required="true">female;male;other;prefer not to say</input>

       <!--  <label>Please answer the following questions.</label>
         <input type="rating2" required="false" scale="Yes;No;">There's a car in my household;I own a car for myself</input> -->

         <label>What level of degree do you teach?</label>
         <input type="checkbox" required="false">Bachelor;Master;PhD and Higher</input>

         <label>Which level of degree do you prefer to use gamified activities?</label>
         <input type="select" required="false">Bachelor;Master;PhD and Higher;Bachelor and Master;All</input>

         <label> Please add any statements about gamification that you felt were missing or add any comments you would like to share on either using gamification in your teaching or on this Q sort activity</label>
         <input type="textarea" required="false"></input>

         <note bg="false">All fields marked with an * are mandatory.</note>
      </item>

      <!-- URL for data transmission via POST/GET (leave blank if not required) -->
      <item id="submitUrl">exe.php?do=save</item>

      <!-- request mode (post|get|firebase) -->
      <item id="submitUrlMethod">firebase</item>

      <!-- data transmission via email, user must have an e-mail program like Outlook (leave blank if not required) -->
      <item id="submitMail">yourdomain.com</item>
   </config>